header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  position: sticky;
  top: 0px;
  background-color: var(--prussian-blue);
  height: 70px;
  max-width: 100vw;
  gap: 10px;
  z-index: 11;
}

header > div{
  position: sticky;
  left: 0%;
  padding: 0px 5px 0px 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  justify-items: center;
  max-width: 100vw;
} 


#title{
  font-size: clamp(2.5rem, 4vw, 4rem);
  justify-self: start;
}


#char-dropdown{
 display: block;
 position: relative;
 border: 3px solid white;
 border-radius: 1rem;
 width: auto;

 transition: all 1s ease-out;
}

#char-dropdown,
#char-dropdown ul,
#char-dropdown ul li{
  background-color: var(--palatinate-purple); 
  padding: 10px;
 font-size: clamp(1rem, 3vw, 1.8rem);
 border: 3px solid white;
 border-radius: 1rem;
 transition: all 1s ease-out;
}

#char-dropdown:hover {
  cursor: pointer;
}

#char-dropdown ul{
  width: auto; 
}
#char-dropdown li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
 top: 120%;
  right: 0;
  display: none;
  background-color: var(--prussian-blue);
  opacity: 0;
  height: 0px;
 transition: all 1s ease-out;
}

#char-dropdown li:hover > ul,
#char-dropdown li ul:hover {
  visibility: visible;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  height: auto;
 transition: all 1s ease-out;
}

@media (max-width: 700px) {
  header {
    gap: 10px;
  }
  #title{
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
  }

  header > div{
    position: sticky;
    left: 0%;
    padding: 5px 5px 0px 5px;
    display: grid;
    gap: 3px;
    grid-template-columns: 2fr 1fr 1fr 0.5fr 0.2fr;
    justify-items: center;
    max-width: 100vw;
  } 
}