#image-container{
  width: var(--img-width);
  position: relative;
  width: auto;
}
#main-image{
  width: var(--img-width);
  border: var(--img-padding) solid var(--skobeloff);
  border-radius: 2%;
}



