#win-modal-outer,
#scroll-modal-outer{
  position: absolute;
  top: 100px;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 13;
}

#leaderboard,
#scroll-modal-inner{
  position: sticky;
  top: 50vh;
  left: 50vw;
  height: auto;
  width: clamp(200px, 50vw, 900px);
  transform: translate(-25%, -50%);
  background-color: var(--skobeloff);
  padding: 20px;
  color: white;
  border: 5px solid white;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px black;
  display: grid;
  align-items: center;
  justify-items: center;
  column-gap: 40px;
  row-gap: 20px;
  animation: fadeIn 1s;
}

#win-modal-inner {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title1 title2"
                       "scores time"
                       "scores submit"
                       "scores restart"
                       "leader restart";
  z-index: 13;
}

#win-modal-outer h1{
  grid-area: title1;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

#win-modal-inner h2{
  grid-area: title2;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

#win-modal-inner ul{
  grid-area: scores;
}

#win-modal-inner h3{
  font-size: 1.6rem;
  grid-area: time;
}

#win-modal-inner #button-restart{
  background-color: rgb(34, 94, 34);
  grid-area: restart;
  font-size: 1.7rem;
}

#win-modal-inner #button-restart:hover{
  background-color: rgb(93, 230, 93);
  color: black;
}

#win-modal-inner #button-leaderboard{
  grid-area: leader;
}

#win-modal-inner form{
  grid-area: submit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  grid-template-columns: auto 1fr;
}

#win-modal-outer ul{
  box-shadow: 3px 3px 8px black;
  border: 4px solid white;
  border-radius: 0.2rem;
}

#win-modal-outer li{
  display: grid;
  background-color: var(--prussian-blue);
  grid-template-columns: 1fr 3fr 2fr;
  column-gap: 8px;
  border: 1px solid  white;
  padding: 5px;
}

form label {
font-size: 1rem;
}

form input{
  border: none;
  font-size: 1.2rem;
  width: 150px;
  padding: 3px 6px 3px 6px;
  border-radius: 1rem;
  border: 3px solid var(--charcoal);
}

form span{
  height: 15px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}


input::placeholder{
  font-size: 1rem;
  text-align: center;
}

form input:hover{
  border: 3px solid var(--palatinate-purple)
}

#win-modal-inner form > button{
  grid-column: 1 / -1;
}

#leaderboard {
  z-index: 20;
  transform: translate(-50%, -50%);
  max-height: 500px;
  width: 400px;
  overflow: scroll;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 30px 1fr;
  grid-template-areas: "close title"
                       "board board";
}

#leaderboard ul {
  grid-area: board;
}

#leaderboard h1{
  grid-area: title;
  justify-self: start;
}

#leaderboard > button{
  justify-self: start;
  background-color: rgb(135, 26, 26);
  grid-area: close;
}

#leaderboard > button:hover{
  justify-self: start;
  background-color: rgb(66, 12, 12);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
